{% extends "layout.html" %}
{% block body %}

  <ul class="nav nav-tabs">
    <li role="presentation"><a href="{{ url_for('students_page')}}">Students</a></li>
    <li role="presentation"><a href="{{ url_for('keynotes_page')}}">Keynotes</a></li>
    <li role="presentation"><a href="{{ url_for('service_learnings_page') }}">Service Learning</a></li>
    <li role="presentation" class="active"><a href="{{ url_for('bookclubs_page') }}">Book Clubs</a></li>
  </ul>

  <center>
    <p>{{ title }}</p>
  </center>

  <div class="row">
    <div class="col-md-9">


      <br/>
      <div class="row">
        <div class="col-md-11">
          <form action="{{ url_for('bookclubs_page') }}" method="get">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for..." name="q">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Filter</button>
              </span>
            </div>
          </form>
        </div>

        <div class="col-md-1">
          <a href="{{ url_for('bookclubs_page', q=q, download='y') }}">
            <button type="button" class="btn btn-default" aria-label="Left Align">
              <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
            </button>
          </a>
        </div>
      </div>
      
      <br/>

      <table style="width:100%" class="table table-bordered">
        <tr>
          <th>ID</th>
          <th>Year</th>
          <th>Semeseter</th>
          <th>Book</th>
          <th>Students</th>
          <th>Delete</th>
        </tr>

        {% for bookclub in bookclubs %}
          <tr>
            <td>{{ bookclub.Id }} </td>
            <td>{{ bookclub.Year }} </td>
            <td>{{ bookclub.Semester }}</td>
            <td>{{ bookclub.Book }}</td>
            <td><a href="{{ url_for('students_page', id=bookclub.Id) }}"> Students </a> </td>
            <td>
              <center><a href="{{ url_for('bookclubs_page', q=q, delete=bookclub.Id) }}" >
                <button type="button" class="btn btn-default" aria-label="Left Align">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
              </a></center>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>

    <div class="col-md-3">
      <h3>Add Book Club</h3>
      <form action="{{ url_for('bookclubs_page') }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label>Year</label>
          <input type="number" class="form-control" name="year" placeholder="2016">
        </div>
        <div class="form-group">
          <label>Semester</label>
          <select name="fallSemester" class="form-control">
            <option value="true">Fall</option>
            <option value="false">Spring</option>
          </select>
        </div>
        <div class="form-group">
          <label>Book</label>
          <input type="text" class="form-control" name="book" placeholder="Title">
        </div>
        <div class="form-group">
          <label>Roster (CSV File) <br/> </label>
          <input type="file" name="file" />
          <p class="help-block">
            <b>Must contain columns:</b> <br/>
            RUID, Discussion Leader (Yes or No values) <br/>
            <b>May contain columns:</b><br/>
            First Name, Last Name, Class Year
          </p>
        </div>

        <button type="submit" class="btn btn-default">Upload</button>
      </form>
    </div>
  </div>


{% endblock %}
