{% extends "layout.html" %}
{% block body %}
  <ul class="nav nav-tabs">
    <li role="presentation"><a href="{{ url_for('students_page')}}">Students</a></li>
    <li role="presentation"><a href="{{ url_for('keynotes_page')}}">Keynotes</a></li>
    <li role="presentation"><a href="{{ url_for('service_learnings_page') }}">Service Learning</a></li>
    <li role="presentation"><a href="{{ url_for('bookclubs_page') }}">Book Clubs</a></li>
  </ul>

  <center>
    <h1>Programs</h1>
    <p>{{ title }}</p>
  </center>

  <h2> Service Learning</h2>
  <table style="width:100%" class="table table-bordered">
    <tr>
      <th>ID</th>
      <td>Title</th>
      <th>Description</th>
      <th>Students</th>
    </tr>

    {% for serviceLearning in programs['serviceLearning'] %}
      <tr>
        <td>{{ serviceLearning.Id }} </td>
        <td>{{ serviceLearning.Title }}</td>
        <td>{{ serviceLearning.Description }} </td>
        <td><a href="{{ url_for('students_page', id=serviceLearning.Id) }}"> Students </a> </td>
      </tr>
    {% endfor %}
  </table>


  <br/>
  <h2>Book Club</h2>
  <table style="width:100%" class="table table-bordered">
    <tr>
      <th>ID</th>
      <th>Year</th>
      <th>Semeseter</th>
      <th>Book</th>
      <th>Discussion Leader</th>
      <th>All Students</th>
    </tr>

    {% for bookclub in programs['bookclub'] %}
      <tr>
        <td>{{ bookclub.Id }} </td>
        <td>{{ bookclub.Year }} </td>
        <td>{{ bookclub.Semester}}</td>
        <td>{{ bookclub.Book }}</td>
        <td>{{ bookclub['Discussion Leader'] }}</td>
        <td><a href="{{ url_for('students_page', id=bookclub.Id) }}"> Students </a> </td>
      </tr>
    {% endfor %}
  </table>

  <br/>
  <h2>Keynotes</h2>
  <table style="width:100%" class="table table-bordered">
    <tr>
      <th>ID</th>
      <th>Speaker</th>
      <th>Date</th>
      <th>Students</th>
    </tr>

    {% for keynote in programs['keynote'] %}
      <tr>
        <td>{{ keynote.Id }} </td>
        <td>{{ keynote.Speaker }} </td>
        <td>{{ keynote.Date }} </td>
        <td><a href="{{ url_for('students_page', id=keynote.Id) }}"> Students </a> </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
