{% extends "layout.html" %}
{% block body %}

  <ul class="nav nav-tabs">
    <li role="presentation"><a href="{{ url_for('students_page')}}">Students</a></li>
    <li role="presentation"><a href="{{ url_for('keynotes_page')}}">Keynotes</a></li>
    <li role="presentation"><a href="{{ url_for('bookclubs_page') }}">Book Clubs</a></li>
    <li role="presentation" class="active"><a href="{{ url_for('service_learnings_page') }}">Service Learning</a></li>
  </ul>

  <center>
    <p>{{ title }}</p>
  </center>

  <div class="row">
    <div class="col-md-9">

      <br/>
      <form action="{{ url_for('service_learnings_page') }}" method="get">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Filter</button>
          </span>
        </div>
      </form>
      <br/>

      <table style="width:100%" class="table table-bordered">
        <tr>
          <th>ID</th>
          <th>Description</th>
          <th>Students</th>
        </tr>

        {% for serviceLearning in serviceLearnings %}
          <tr>
            <td>{{ serviceLearning.id }} </td>
            <td>{{ serviceLearning.description }} </td>
            <td><a href="{{ url_for('students_page', id=serviceLearning.id) }}"> Students </a> </td>
          </tr>
        {% endfor %}
      </table>
    </div>

    <div class="col-md-3">
      <h3>Add Service Learning</h3>
      <form action="{{ url_for('service_learnings_page') }}" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" rows="3" name="description"></textarea>
          </div>

          <div class="form-group">
            <label>Roster (CSV File) <br/> </label>
            <input type="file" name="file" />
            <p class="help-block">Must contain columns: RUID. May contain columns: First Name, Last Name, Class Year</p>
          </div>

          <button type="submit" class="btn btn-default">Upload</button>
      </form>
    </div>
  </div>

{% endblock %}
