{% extends "layout.html" %}
{% block body %}

  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="{{ url_for('students_page')}}">Students</a></li>
    <li role="presentation"><a href="{{ url_for('keynotes_page')}}">Keynotes</a></li>
    <li role="presentation"><a href="{{ url_for('service_learnings_page') }}">Service Learning</a></li>
    <li role="presentation"><a href="{{ url_for('bookclubs_page') }}">Book Clubs</a></li>
  </ul>

  <center>
    <h2>{{ title }}</h2>
  </center>

  <div class="row">
    <div class="col-md-9">

      <div class="row">
        <div class="col-md-11">
          {% if programId == None %}
            <form action="{{ url_for('students_page') }}" method="get">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." name="q">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">Filter</button>
                </span>
              </div>
            </form>
          {% endif %}
        </div>
        <div class="col-md-1">
          <a href="{{ url_for('students_page', q=q, download='y', id=programId) }}">
            <button type="button" class="btn btn-default" aria-label="Left Align">
              <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
            </button>
          </a>
        </div>
      </div>
      <br/>

      <table style="width:100%" class="table table-bordered">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>RUID</th>
          <th>Class Year</th>
          <th>Key Notes</th>
          <th>Service Learnings</th>
          <th>Book Clubs</th>
          <th>Discussions Lead</th>

          {% if students|length > 0 and 'Discussion Leader' in students[0] %}
          <th>Discussion Leader</th>
          {% endif %}

          {% if students|length > 0 and 'Description' in students[0] %}
          <th>Description</th>
          {% endif %}

          <th>Programs</th>
        </tr>

        {% for student in students %}
          <tr>
            <td>{{ student['First Name'] }} </td>
            <td>{{ student['Last Name'] }} </td>
            <td>{{ student['RUID'] }} </td>
            <td>{{ student['Class Year'] }} </td>
            <td>{{ student['Key Notes'] }} </td>
            <td>{{ student['Service Learnings'] }} </td>
            <td>{{ student['Book Clubs'] }} </td>
            <td>{{ student['Discussions Lead'] }} </td>
            {% if 'Discussion Leader' in student %}
            <td>{{ student['Discussion Leader'] }}</td>
            {% endif %}

            {% if 'Description' in student %}
            <td>{{ student['Description'] }}</td>
            {% endif %}
            <td><a href="{{ url_for('programs_page', ruid=student['RUID']) }}"> Programs </a> </td>
          </tr>
        {% endfor %}
      </table>
    </div>

    <div class="col-md-3">
      {% if programId == None %}
        <h3>Add Students</h3>
        <form action="{{ url_for('students_page') }}" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label>Roster (CSV File) <br/> </label>
            <input type="file" name="file" />
            <p class="help-block">
              <b>Must contain columns:</b><br/>
              RUID <br/>
              <b>May contain columns:</b> <br/>
              First Name, Last Name, Class Year
            </p>
          </div>

          <button type="submit" class="btn btn-default">Upload</button>
        </form>
      {% endif %}
    </div>
  </div>


{% endblock %}
